{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style0.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Гороскоп</title>
</head>
<body>
    <div class="background">
        <div class="blur">

            <div class="wrapper">
                <h1 class="header">Гороскоп на 
                    <b class="date">17.11.2023</b>
                </h1>
                <nav>
                    <ul>
                        <li class="item">
                            <a href="Horoscopes/Aries.html">
                                <button class="btn">Овен</button>
                            </a>
                        </li>
                        <li class="item">
                            <a href="Horoscopes/Taurus.html">
                                <button class="btn">Телец</button>
                            </a>
                        </li>
                        <li class="item">
                            <a href="Horoscopes/Gemini.html">
                                <button class="btn">Близнецы</button>
                            </a>
                        </li>
                        <li class="item">
                            <a href="Horoscopes/Cancer.html">
                                <button class="btn">Рак</button>
                            </a>
                        </li>
                        <li class="item">
                            <a href="Horoscopes/Leo.html">
                                <button class="btn">Лев</button>
                            </a>
                        </li>
                        <li class="item">
                            <a href="Horoscopes/Virgo.html">
                                <button class="btn">Дева</button>
                            </a>
                        </li>
                        <li class="item">
                            <a href="Horoscopes/Libra.html">
                                <button class="btn">Весы</button>
                            </a>
                        </li>
                        <li class="item">
                            <a href="Horoscopes/Scorpio.html">
                                <button class="btn">Скорпион</button>
                            </a>
                        </li>
                        <li class="item">
                            <a href="Horoscopes/Sagittarius.html">
                                <button class="btn">Стрелец</button>
                            </a>
                        </li>
                        <li class="item">
                            <a href="Horoscopes/Capricorn.html">
                                <button class="btn">Козерог</button>
                            </a>
                        </li>
                        <li class="item">
                            <a href="Horoscopes/Aquarius.html">
                                <button class="btn">Водолей</button>
                            </a>
                        </li>
                        <li class="item">
                            <a href="Horoscopes/Pisces.html">
                                <button class="btn">Рыбы</button>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>