{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style0.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Водолей</title>
</head>
<body>
    <div class="background">
        <div class="blur">
            <div class="wrapper">
                <div class="header">
                    Гороскоп для водолеев на 
                    <b>
                        {{ date }}
                    </b>
                <div class="text">
                    {{ text}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>